<aside class="sidenav">
  <div class="brand">
    <mat-icon>school</mat-icon>
    <span class="brand-title">Mariana Learning</span>
  </div>

  <nav class="nav">
    <a routerLink="/dashboard" class="nav-item"
      ><mat-icon>dashboard</mat-icon><span>Dashboard</span></a
    >
    <a routerLink="/profile" class="nav-item"
      ><mat-icon>person</mat-icon><span>Mi Perfil</span></a
    >
    <a routerLink="/courses" class="nav-item"
      ><mat-icon>menu_book</mat-icon><span>Cursos</span></a
    >
    <a routerLink="/podium" class="nav-item"
      ><mat-icon>emoji_events</mat-icon><span>Podio</span></a
    >
    <a routerLink="/challenges" class="nav-item"
      ><mat-icon>flag</mat-icon><span>Retos</span></a
    >
    <a routerLink="/my-courses" class="nav-item"
      ><mat-icon>folder</mat-icon><span>Mis Cursos</span></a
    >
  </nav>
</aside>
